{% extends "base/base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'shop_manager/style.css' %}">
<form method="post" class="form-group">
    {% csrf_token %}
    <p>Product: {{ form.good }}
    <a href="{% url 'catalog:create_product' %}">Create new product</a>
    </p>
    <p>{{ form.good.errors }}</p>
    <p>Price {{ form.price }}</p>
    <p>{{ form.price.errors }}</p>
    <button type="submit" class="btn btn-primary">Create offer</button>
</form>
{% endblock %}