{% extends "base/base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'shop_manager/style.css' %}">
{% if form %}
<div class="col-sm-9">
<form method="post" class="form-group">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Update shop</button>
</form>
</div>
<div class="col-sm-3 offers-management-block">
<p><a href="/shop/{{ shop.pk }}/offers/">
<button class="btn btn-primary">See all offers</button>
</a></p>
<p><a href="/shop/{{ shop.pk }}/create-offer/">
<button class="btn btn-primary">Create new offer</button>
</a></p>
</div>
{% else %}
    {{ shop.name }}
    {{ shop.description }}
    {{ shop.owner }}
{% endif %}
{% endblock %}