{% extends "base/base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'shop_manager/style.css' %}">
<div class="row">
{% for offer in offers %}
    <div class="row row-vertical-align">
        <div class="col-sm-1"><img src="{{ offer.good.photo.url }}" class="fit-image image-tiny"></div>
        <div class="col-sm-7">{{ offer.good.name }}</div>
        <div class="col-sm-2">{{ offer.price }}</div>
        <div class="col-sm-2 offer-list-options-block">
        <div class="row offer-list-option-block">
        <a href="/shop/{{ shop.pk }}/remove-offer/{{ offer.pk }}/">Delete</a>
        </div>
        <div class="row offer-list-option-block">
        <a href="/shop//{{ offer.pk }}/">Update</a>
        </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}