<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'authentication/style.css' %}">
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body class="container">
{% block content %}{% endblock %}
</body>
</html>