{% extends "authentication/base.html" %}
{% block content %}
<div class="card col-sm-5 col-sm-offset-4 auth-form">
    <div class="card-body">
        <h2 class="card-title">Login</h2>
        <form method="post" class="">
            {% csrf_token %}
            <div class="row auth-input">
                <div class="col-sm-5">Username:</div>
                <div class="col-sm-7">{{ form.username }}</div>
            </div>
            <div class="row auth-input">
                <div class="col-sm-5">Password:</div>
                <div class="col-sm-7">{{ form.password }}</div>
            </div>
            <button type="submit" class="btn btn-primary auth-button">Login</button>
            <p>If you are not registered, please
                <a href="/auth/registration/"> sign up</a>
            </p>
            <a href="/">Go home</a>
        </form>
    </div>
</div>
{% endblock %}