{% extends "base/base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'authentication/style.css' %}">
<div class="row">
<div class="col-sm-2 col-sm-offset-5 profile-header-block">
<h4>Profile</h4>
</div>
</div>
<div class="row row-eq-height">
<div class="col-sm-5 profile-info-block">
<p>Username: <i>{{ user.username }}</i></p>
<p>Email: <i>{{ user.email }}</i></p>
<p>You are: <i>{{ user_type }}</i></p>
<a href="{% url 'auth:logout' %}">
<button class="btn btn-danger">Logout</button>
</a>
</div>
{% if user.is_manager %}
    <div class="col-sm-7 shops-management-list-block">
        {% for shop in shops %}
        <p>Go to <a href="/shop/{{ shop.pk }}/">{{ shop.name }}</a> management</p>
        {% endfor %}
    </div>
{% endif %}
</div>
{% endblock %}