{% extends "authentication/base.html" %}
{% block content %}
<div class="card col-sm-5 col-sm-offset-4 auth-form">
    <div class="card-body">
        <h2 class="card-title">Sign up</h2>
        <form method="post">
            {% csrf_token %}
            <div class="row auth-input">
                <div class="col-sm-5">Username:</div>
                <div class="col-sm-7">{{ form.username }}</div>
            </div>
            <div class="row auth-input">
                <div class="col-sm-5">Password:</div>
                <div class="col-sm-7">{{ form.password1 }}</div>
            </div>
            <div class="row auth-input">
                <div class="col-sm-5">Confirm password:</div>
                <div class="col-sm-7">{{ form.password2 }}</div>
            </div>
            {% for _, error in form.errors.items %}
            <p class="error-note">{{error}}</p>
            {% endfor %}
            <button type="submit" class="btn btn-primary auth-button">Sign up</button>
            <a href="/">Go home</a>
        </form>
   </div>
</div>
{% endblock %}