.auth-form{
    margin-top: 15%;
}

.error-note{
    color: red;
}

.auth-input{
    margin-top: 1em;
}

.auth-button{
    margin: 5px;
}

.shops-management-list-block {
    background-color: white;
    padding: 5px 5px 5px 1em;
}

.profile-header-block {
    background-color: #dca657;
    text-align: center;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.profile-info-block {
    background-color: white;
    padding: 5px;
    border-right: solid 3px #f1f1f1;
}

.profile-header-block h3 {
    margin-top: 10px;
}