.header{
    background-color: #fba31e;
}
a, a:hover, a:visited, a:active {
  color:#1d1d1d;
  text-decoration: none;
 }

a:hover {
    text-decoration: underline;
}
body{
    background-color: rgba(74, 55, 55, 0.16);
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-weight: normal;
}

.extended-container {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
}

.auth-button{
    margin-right: 0px;
    float: right;
}

.sub-nav{
    margin-top: 15px;
    margin-bottom: 15px;
}

.link-block:hover{
    background-color: #fc7b35;
}

.link-block{
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    font-size: 20px;
    width: fit-content;
}

.bucket-link{
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    font-size: 18px;
    color: black;
}

.bucket-link {
    text-decoration: none;
}

.bucket-link p{
    margin: 0 0 0 0;
}

.fit-image {
    max-width: 100%;
    margin: 3px;
}

.image-tiny {
    max-height: 50px;
}

.image-small {
    max-height: 100px;
}

.image-medium {
    max-height: 250px;
}

.image-big {
    max-height: 400px;
}

.row-vertical-align {
    display: flex;
    align-items: center;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}