{% extends "base/base.html" %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'goods_manager/style.css' %}">
    {% for offer in offers %}
    <div class="row product row-vertical-align">
        <div class="col-sm-2">
            {% if offer.good.photo %}
            <img src="{{ offer.good.photo.url }}" class="fit-image image-tiny">
            {% else %}
            <img src="{% static 'base/icon.png' %}" class="fit-image image-tiny">
            {% endif %}
        </div>
        <div class="col-sm-9">
        <a href="/catalog/{{ offer.good.pk }}/">
            <div class="row">
                <h4><b>{{ offer.good.name }}</b></h4>
            </div>
            <div class="row">{{ offer.good.description }}</div>
        </a>
        </div>
        <div class="col-sm-1">
            {{ offer.price }}
        </div>
    </div>
    {% endfor %}
    <div class="row">
        <div class="col-sm-offset-10">
        <a href="/catalog/preform-purchase/">
            <button class="btn btn-primary">Perform purchase</button>
        </a>
        </div>
    </div>
{% endblock %}