{% extends "base/base.html" %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'goods_manager/style.css' %}">
    <div class="form-group">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Create product</button>
    </form>
    </div>
{% endblock %}