{% extends "base/base.html" %}
{% block content %}
{% load static %}
{% load shop_tags %}
<link rel="stylesheet" href="{% static 'goods_manager/style.css' %}">
<div class="row">
    {% for category_num, category_name in categories %}
    <a href="/catalog/category/?id={{ category_num }}" class="category-link">
        <div class="col-sm-2 category" align="center">
            {{ category_name }}
        </div>
    </a>
    {% endfor %}
</div>
<div class="row row-eq-height">
    <div class="col-sm-2 shop-list-container">
    <form action="/catalog/filter/" method="get">
        {% shops_column %}
        <button type="submit" class="btn btn-secondary" >Find</button>
    </form>
    </div>
    <div class="col-sm-10 product-list">
        {% for product in products %}
            <a href="/catalog/{{ product.pk }}/">
                <div class="row product row-vertical-align">
                <div class="col-sm-2">
                    {% if product.photo %}
                    <img src="{{ product.photo.url }}" class="fit-image image-small">
                    {% else %}
                    <img src="{% static 'base/icon.png' %}" class="fit-image image-small">
                    {% endif %}
                </div>
                <div class="col-sm-9">
                    <div class="row">
                        <h4><b>{{ product.name }}</b></h4>
                    </div>
                    <div class="row">{{ product.description }}</div>
                </div>
                <div class="col-sm-1">
                    {{ product.min_price }}
                </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}