{% extends "base/base.html" %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'goods_manager/style.css' %}">
    <div class="row product-block">
        <div class="row">
            <div class="col-sm-3">
            {% if product.photo %}
                <img src="{{ product.photo.url }}" alt="{{ product.name }}" class="fit-image">
            {% else %}
                <img src="{% static 'base/icon.png' %}" class="fit-image image-small">
            {% endif %}
            </div>
            <div class="col-sm-9">
                <div class="row row-vertical-align">
                    <div class="col-sm-12">
                        <h4><b>{{ product.name }}</b></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p>{{ product.description }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                {% if offers %}
                    <p><b>{{ min_price }} - {{ max_price }}</b></p>
                {% else %}
                    <b>No offers for product</b>
                {% endif %}
            </div>
            <div class="col-sm-9">
                {% for offer in offers %}
                <div class="row product-offer-list-item row-vertical-align">
                    <div class="col-sm-8">
                        <b>{{ offer.shop.name }}</b>: {{ offer.price }}
                    </div>
                    <div class="col-sm-4 offer-item-list-button">
                        {% if request.user.is_authenticated %}
                            <a href="/catalog/put_into_bucket/{{ offer.pk }}/"><button class="btn btn-default">Put into bucket</button></a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}