<div class="row">
    {% for shop in shops %}
        <div class="row shop-checkbox-line checkbox">
            <label>
                <input type="checkbox" id="{{shop.name}}" name="{{shop.name}}">
                {{ shop.name }}</label>
        </div>
    {% endfor %}
</div>