<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'base/style.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body class="container">
<nav class="row header row-vertical-align">
<div class="col-sm-10">
    <a class="nav-link" href="/catalog/">
        <div class="col-sm-1 link-block" align="center">
            Shop
        </div>
    </a>
    <a class="nav-link" href="/blog/">
        <div class="col-sm-1 link-block" align="center">
            Blog
        </div>
    </a>
</div>
    {% if not request.user.is_anonymous %}
    <div class="col-sm-2 bucket-link" align="right">
        <p><a href="/catalog/bucket/">Bucket&nbsp<span class="glyphicon glyphicon-shopping-cart"></span></a></p>
    </div>
    {% endif %}
</nav>
<div class="row sub-nav">
    <div class="col-sm-3">
        Here must be logo
    </div>
    <div class="col-sm-6">
        <form class="input-group" method="get" action="/catalog/search/">
            <input type="text" class="form-control" placeholder="Search" name="request_line">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
         </form>
    </div>
    <div class="col-sm-3">
        {% if request.user.is_anonymous %}
            <a href="{% url 'auth:login' %}">
                <button class="btn btn-secondary auth-button">Sign in</button>
            </a>
        {% else %}
            <h4>
                <a href="/auth/profile/">Hi, {{ request.user.username }}</a>
            </h4>
        {% endif %}
    </div>
</div>
<div>
    {% block content %}{% endblock %}
</div>
</body>
</html>