.category {
    padding: 1em;
    background-color: #fba31e;
    border-bottom: solid 1px;
}

.category:hover {
    background-color: #fc7b35;
}

.shop-checkbox-line {
    padding-left: 25px;
}

.shop-list-container {
    background-color: white;
    border-right: solid 3px #f1f1f1;
}

.product {
    padding: 20px;
    background-color: white;
}

.product-list{
    background-color: white;
}

.product-block {
    background-color: white;
    padding: 1em;
}

.product-offer-list-item {
    border-bottom: solid 1px gray;
    margin-top: 1em;
}

.offer-item-list-button {
    padding-bottom: 1em;
}